<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979130341610-v9vjb2u0k8ms9j9vr3n2g5q18l15uv90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979130341610-v9vjb2u0k8ms9j9vr3n2g5q18l15uv90</string>
	<key>API_KEY</key>
	<string>AIzaSyAXMpS8eXvQHnLItVg6MB3zvirufHw954Q</string>
	<key>GCM_SENDER_ID</key>
	<string>979130341610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brandyacademics.Xylophone</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-eb1f1</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-eb1f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979130341610:ios:d77a389af2dede6f</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-eb1f1.firebaseio.com</string>
</dict>
</plist>